nav > a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

li > a {
    color: black;
    text-decoration: none;
}

li > a :hover{
    font-size: 60px;
}

ul{
    text-decoration: none;

}

footer{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 200px;
    background-color: white;
    font-size: 10px;

}
body{
    display: flex;
    background-color: white;
    width: 100%;
    height: auto;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, sans-serif;

}
.icon-btn {
margin-left: 90%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.875em;
}
.logo_task img {
    margin: 0 0 0;
    width: 250px;
    height: auto;
    margin-left: 13%;
    
}


li > .trash-selected{
    list-style: none;
}

.trash-selected {
    font-size: 18px;
    color: green; /* Cor do texto verde */
    font-weight: bold; /* Opcional: deixa em negrito */
    list-style: none;
  }

#header{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content{
    background-color: white;
    width: 100%;
    height: auto;
}

.moradores{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    height: auto;
    width: 350px;
    margin-top: 40px;
    align-items: center;
    background-color:  white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    padding: 5px;
}
.moradores li {
    gap: 10px;
    list-style: none;
    margin-top: 3px;
}
.moradores li :hover{
    font-size: 25px;
}

.responsavel-lixo li {
    list-style: none;
}
.tarefas-feitas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    align-items: center;
    background-color:  white;
    border-radius: 10px;
    width: 350px;
    padding: 5px;
    min-height: 150px;
    max-height: auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}

.responsavel-lixo{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color:  white;
    border-radius: 10px;
    width: 350px;
    min-height: 50px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}
.quadro-avisos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    min-height: 100px;
    max-height: auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}


@media (min-width: 600px) {
    .logo img {
        margin: 0 0 0;
        width: 250px;
        height: auto;
        margin-left: 15%;
    }

    body{
    display: flex;
    align-items: center;
    justify-content: center;
    }


}

@media (max-width: 600px) {
    .logo img {
        width: 250px;
        height: auto;
        margin-left: 30%;
    }

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        }
}
